.container {
  display: flex;
  padding: 1rem;
}

.playerContainer {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.player {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  border-radius: 2rem;
  outline: none;
}

.title {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.description {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-accent);
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}
.channelContainer {
  width: 30%;
}
