.cardContainer {
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.cardContainer:hover {
  background-color: var(--color-accent);
  border-radius: 1rem;
}
.cardContainer:hover .thumbnails {
  border-radius: 0;
}

.thumbnails {
  width: 100%;
  border-radius: 1rem;
  transition: all 300ms ease-in;
}

.desContainer {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.title {
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text {
  font-size: 0.9rem;
  filter: brightness(50%);
}

.wrapper {
  display: flex;
  gap: 0.5rem;
}

.wrapper p + p::before {
  content: '·';
  margin-right: 0.5rem;
}

/* channel */
.channel.cardContainer {
  display: flex;
}

.channel.thumbnails {
  width: 45%;
  margin-right: 0.5rem;
}
