.cardContainer {
  position: relative;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.container:hover {
  background-color: var(--color-accent);
  border-radius: 1rem;
}
.container:hover .thumbnails {
  border-radius: 0;
}

.thumbnails {
  width: 100%;
  border-radius: 1rem;
  transition: all 300ms ease-in;
}

.desContainer {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.title {
  font-size: 1.1rem;
}

.text {
  font-size: 0.9rem;
  filter: brightness(50%);
}

.wrapper {
  display: flex;
  gap: 0.5rem;
}

.wrapper p + p::before {
  content: '·';
  margin-right: 0.5rem;
}
